<meta charset="utf-8">
<script src="https://unpkg.com/vue"></script>


<div id="app">
    <div v-for="person in IZONE"  v-if="person.name.indexOf('미') > -1">
        {{ person.name }}, '미'위 위치는 : {{ person.name.indexOf('미') }}
    </div>
</div>


<script>

    var model = {
        IZONE: [
            {name: '권은비'},
            {name: '미야와키 사쿠라'},
            {name: '강혜원'},
            {name: '최예나'},
            {name: '이채연'},
            {name: '김채원'},
            {name: '김민주'},
            {name: '야부키 나코'},
            {name: '혼다 히토미'},
            {name: '조유리'},
            {name: '안유진'},
            {name: '장원영'},
        ],
    };

    var vm = new Vue({
        el: '#app',
        data: model,
    });
</script>

<style>
    #app img{
        display:block;
        width:60px;
    }
    #app div {
        display: block;
        font-size: 40px;
        margin-top: 40px;
        font-weight:bold;
    }

    #app input{
        width: 600px;
        height: 50px;
        text-align: left;
        font-size: 40px;
    }

    #app button{
        width: 600px;
        height: 50px;
        text-align: left;
        font-size: 40px;
    }

    #app #asdfa {
        display: block;
        width: 300px;
        height: 50px;
        font-size: 20px;
        margin-top: 20px;
    }


</style>